In [186]:
from platform import python_version
print(python_version())

3.6.8

In [188]:
# tensorflow test
import tensorflow as tf
hello = tf.constant('Hello, TensorFlow')
sess = tf.Session()
print(sess.run(hello))

b'Hello, TensorFlow'

In [189]:
import warnings
#warnings.filterwarnings(action='once')
warnings.filterwarnings('ignore')

In [190]:
import nltk
import pandas as pd
import numpy as np
import en_core_web_sm
nlp = en_core_web_sm.load()
from sklearn.model_selection import train_test_split
import contractions
import unicodedata
import inflect
#nltk.download('punkt')
import string
from gensim.models import Word2Vec
from nltk.corpus import stopwords
#nltk.download('stopwords')
import re

In [191]:
yelp=pd.read_csv('yelp.csv')

In [192]:
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [193]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
business_id    10000 non-null object
date           10000 non-null object
review_id      10000 non-null object
stars          10000 non-null int64
text           10000 non-null object
type           10000 non-null object
user_id        10000 non-null object
cool           10000 non-null int64
useful         10000 non-null int64
funny          10000 non-null int64
dtypes: int64(4), object(6)
memory usage: 781.3+ KB

In [194]:
def preprocess_fxn(text):
    text = contractions.fix(text)
    doc = nlp(text)                
    table = str.maketrans({key: None for key in string.punctuation})
    pronouns = [tok.lemma_.lower().strip() for tok in doc if tok.lemma_ == '-PRON-']
    words = [word.text for word in nlp.tokenizer(text)]
    words = [word for word in words if word not in str(doc.ents)]
    words = [word for word in words if word not in pronouns]
    words = [word.lower() for word in words if word not in nlp.Defaults.stop_words]
    words = [word.translate(table) for word in words]
    words = [word for word in words if not word.isdigit()]
    words = [re.sub(r'\W', '', word) for word in words]
    words = [word for word in words if not len(word)<2]
    text=' '.join(words)
    text=re.sub(' +', ' ', text)
    return text

In [196]:
yelp_copy=pd.DataFrame()
yelp_copy=yelp
yelp_copy=yelp_copy[(yelp_copy['stars']==1)|(yelp_copy['stars']==5)]
yelp_copy.loc[:,'text']=yelp_copy.text.apply(preprocess_fxn)

In [197]:
from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical

In [198]:
yelp_copy["stars"] = yelp_copy.stars.factorize()[0]
#labels = to_categorical(yelp_copy['stars'], num_classes=2)
#labels

In [199]:
# 0 is 5 stars and 1 is 1 star
yelp_copy=yelp_copy[['stars','text']]
yelp_copy.head()

   stars                                               text
0      0  my wife took birthday breakfast excellent the ...
1      0  idea people bad reviews place it goes they pro...
3      0  rosie love chaparral dog convenient surrounded...
4      0  general manager good egg not detail but let as...
6      0  drop drive after ate the food good this cute l...

max_len = 130
tokenizer = Tokenizer(num_words=n_most_common_words, filters='!"#$%&()*+,-./:;<=>?@[\]^_`{|}~', lower=True)
tokenizer.fit_on_texts(concated['TITLE'].values)
sequences = tokenizer.texts_to_sequences(concated['TITLE'].values)
word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

X = pad_sequences(sequences, maxlen=max_len)

In [200]:
# find max length. itertuples would be faster
max_length=0
for row in yelp_copy.iterrows():
    if(len(row[1].text.split())>0):
        max_length=len(row[1].text.split())
max_length

38

* there are 2 ways to vectorize the sentences. One is tokenization and the other is word embedding.

In [202]:
# tokenization
tokenizer=Tokenizer()
tokenizer.fit_on_texts(yelp_copy.text.values)
sequences=tokenizer.texts_to_sequences(yelp_copy.text.values)
word_index=tokenizer.word_index
X=pad_sequences(sequences,maxlen=max_length)

In [203]:
X.shape

(4086, 38)

In [204]:
X_train, X_test, y_train, y_test = train_test_split(X ,yelp_copy.stars, test_size=0.25, random_state=42)

In [230]:
X_test.shape

(1022, 38)

In [205]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import Flatten
from keras.layers.embeddings import Embedding
from keras.layers import CuDNNLSTM
from keras.layers import Bidirectional
from keras.layers import SpatialDropout1D
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

#tokenizer.get_config()
tokenizer has been fitted on 16251 words.
Embedding(8308, 300, weights=[embedding_matrix], input_length=55, trainable=True,

In [248]:
def model_creator():
    model=Sequential()
    model.add(Embedding(16252,300, input_length=38,trainable=False))
    #model.add(SpatialDropout1D(0.3))
    model.add(Bidirectional(CuDNNLSTM(10)))
    model.add(Dense(1,activation='sigmoid'))
    model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
    #e=Embedding(16252,300, input_length=38,weights=embedding_matrix,trainable=False)
    #model.add(e)
    #e.set_weights(embedding_matrix)
    print(model.summary())
    return model

In [249]:
estimator = KerasClassifier(build_fn=model_creator, epochs=20, batch_size=32, verbose=0)

In [250]:
kfold = KFold(n_splits=10, shuffle=True, random_state=42)

In [ ]:
results = cross_val_score(estimator, X, yelp_copy.stars.tolist(), cv=kfold)

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_64 (Embedding)     (None, 38, 300)           4875600
_________________________________________________________________
bidirectional_50 (Bidirectio (None, 20)                24960
_________________________________________________________________
dense_51 (Dense)             (None, 1)                 21
=================================================================
Total params: 4,900,581
Trainable params: 24,981
Non-trainable params: 4,875,600
_________________________________________________________________
None

In [211]:
results.mean()

0.908230259983816

In [212]:
results.std()

0.014927796333110933

* the model suffers from having an imbalanced datset as input. This should be corrected for better results